<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}
</style>
            <title>Dashboard</title>
            <link rel="stylesheet" href="">
            {{map.js}}
    </head>
    <body>
<div class="topnav">
    <a class="active" title="IOT Accelerator" href="{{ url_for('index') }}" target="_self" title="IoT Dashboard">IoT Accelerator</a>
    <a class="active" title="IOT Dashboard" href="{{ url_for('dashboard') }}" target="_self" title="IoT Dashboard">IoT Dashboard</a>
    <a class="active" title="Devices" href="{{ url_for('devices') }}" target="_self" title="Devices">Devices</a>
    <a class="active" title="SW Versions" href="{{ url_for('versions') }}" target="_self" title="Devices">SW Versions</a>
    <a class="active" title="Events" href="{{ url_for('events') }}" target="_self">Events</a>
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>
&nbsp;
<table class="table">
<tbody>
    <tr bgcolor="blue">
        <th scope="row" align="center"> Iot Network Dashboard</th>
    </tr>
</tbody>
</table>
{{map.html}}
</body>
</html>
