<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta charset="utf-8">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}
</style>
            <title>IOT Devices</title>
            <link rel="stylesheet" href="">
    </head>
    <body>
<div class="topnav">
    <a class="active" href="{{ url_for('index') }}" target="_self" title="IoT Accelerator">IoT Accelerator</a>
    <a class="active" href="{{ url_for('dashboard') }}" target="_self" title="IoT Dashboard">IoT Dashboard</a>
    <a class="active" href="{{ url_for('devices') }}" target="_self" title="Devices">Devices</a>
    <a class="active" href="{{ url_for('versions') }}" target="_self" title="SW
        Versions">SW Versions</a>
    <a class="active" href="{{ url_for('events') }}" target="_self"
        title="Events">Events</a>
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Unverified Devices</td>
                    </tr>
                    {% if u|length == 0 %}
                    <tr>
                        <td>No results found</td>
                    </tr>
                    {% else %}
                    {% for row in u %}
                    <tr>
                    <td>
                        {% if row.status == "PASS" %}
                            <button class="btn btn-primary btn-circle
                            btn-success"></button>
                        {% elif row.status == "Unknown" %}
                            <button class="btn btn-primary btn-circle
                            btn-warning"></button>
                        {% elif row.status == "FAIL" %}
                            <button class="btn btn-primary btn-circle
                            btn-danger"></button>
                        {% else %}
                            <button class="btn btn-primary btn-circle
                            btn-warning"></button>
                        {% endif %}
                    </td>
                    <td><input type="radio" name="device" value="{{ row.id}}"></td>
                    <td><span class="border-1">{{ row.deviceId }}</span</td>
                    <td><span class="border-1">{{ row.status }}</span></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Verified Devices</td>
                    </tr>
                    {% if v|length == 0 %}
                    <tr>
                        <td>No results found</td>
                    </tr>
                    {% else %}
                    {% for row in v %}
                    <tr>
                    <td>
                    {% if row.status == "PASS" %}
                        <button class="btn btn-primary btn-circle btn-success">
                        </button>
                    {% elif row.status == "Unknown" %}
                        <button class="btn btn-primary btn-circle btn-warning">
                        </button>
                    {% elif row.status == "FAIL" %}
                        <button class="btn btn-primary btn-circle btn-danger">
                        </button>
                    {% else %}
                        <button class="btn btn-primary btn-circle
                        btn-warning"></button>
                    {% endif %}
                    </td>
                    <td><input type="radio" name="device" value="{{ row.id }}"></td>
                    <td><span class="border-1">{{ row.deviceId }}</span</td>
                    <td><span class="border-1">{{ row.status }}</span></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <center>
        <table class="table">
            <tbody>
                <tr>
                    <td><button id="delete">Delete Device</button></td>
                    <td><button id="check">Verify Device</button></td>
                    <td><button onclick="myFunction()">Upload Device</td>
                </tr>
                <div style="display:none;" id="test">
                    <form action="/register" method="post"
                        enctype = "multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit">
                    </form>
                </div>
            </tbody>
        </table>
        </center>
    </div>
</div>
    <script>
        $("#delete").click(function() {
            var val = $('input[name=device]:checked').val();
            $.ajax({
            url: '/v1/device/' + val,
            type: 'DELETE',
            error:function(error){},
            success:function(data){},
            });
            location.reload();
        });
        $("#check").click(function() {
            var val = $('input[name=device]:checked').val();
            $.ajax({
                url: '/v1/device/' + val,
                type: 'POST',
                error:function(error){},
                success:function(data){},
            });
            location.reload();
        });
        function myFunction() {
            var x = document.getElementById("test");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>
