<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="{{ url_for('index') }}" target="_self" title="IoT
        Accelerator">IoT Accelerator</a>
    <a class="active" href="{{ url_for('dashboard') }}" target="_self" title="IoT Dashboard">IoT Dashboard</a>
    <a class="active" href="{{ url_for('devices') }}" target="_self" title="Devices">Devices</a>
    <a class="active" href="{{ url_for('versions') }}" target="_self" title="SW Versions">SW Versions</a>
    <a class="active" href="{{ url_for('events') }}" target="_self" title="Events">Events</a>
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>

&nbsp;
<table class="table">
   {% if data|length == 0 %}
   <tr>
   <td>No events found</td>
   </tr>
   {% else %}
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Event</th>
    </tr>
    <tbody>
        {% for row in data %}
        <tr>
            <th scope="row">{{ row['date'] }}</td>
            <td>{{ row['event'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
</body>
</html>

