<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="{{ url_for('index') }}" target="_self" title="IoT Dashboard">IoT Accelerator</a>
    <a class="active" href="{{ url_for('dashboard') }}" target="_self" title="IoT Dashboard">IoT Dashboard</a>
    <a class="active" href="{{ url_for('devices') }}" target="_self" title="Devices">Devices</a>
    <a class="active" href="{{ url_for('versions') }}" target="_self" title="Devices">SW Versions</a>
    <a class="active" href="{{ url_for('events') }}" target="_self" title="Devices">Events</a>
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>

&nbsp;
<div style="padding-left:16px">
    <img src="{{ url_for('static', filename='iot.00_jpg_srz') }} ">
</div>

</body>
</html>

