<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}
</style>
</head>
<body>

<div class="topnav">
    Simulator
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>

&nbsp;
<div style="padding-left:16px">
{% if data %}
<b>Sucessfully uploaded software</b>
{% else %}
<b>Failed to upload software.</b>
{% endif %}
</div>

</body>
</html>

