<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: ;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.bottombar {
    overflow: hidden;
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="{{ url_for('index') }}" target="_self" title="IoT
        Accelerator">IoT Accelerator</a>
    <a class="active" href="{{ url_for('dashboard') }}" target="_self" title="IoT Dashboard">IoT Dashboard</a>
    <a class="active" href="{{ url_for('devices') }}" target="_self" title="Devices">Devices</a>
    <a class="active" href="{{ url_for('versions') }}" target="_self" title="SW Versions">SW Versions</a>
    <a class="active" href="{{ url_for('events') }}" target="_self"
        title="Events">Events</a>
</div>

<div class="bottombar">
    Ericsson for AT&T
</div>

&nbsp;
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
        <table>
            <tbody>
        {% if data|length != 0 %}
                <tr><td><button id="delete">Delete Software</td></tr>
                <tr><td><button id="register">Sign Software</td></tr>
        {% endif %}
                <tr><td><button onclick="myFunction()">Upload Software</td></tr>
                <tr>
                <div style="display:none;" id="test">
                <form action="/upload" method="post"
                    enctype = "multipart/form-data">
                    <input type="file" name="file">
                    Version: <input type="text" name="version">
                    <input type="submit">
                </form>
                </div>
                <tr>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-sm-3">
        <table>
            <tbody>
                {% if data|length == 0 %}
                <tr>
                    <td><b>No Results Found</b></td>
                </tr>
                {% else %}
                    <tr>
                        <td><b>Software Versions</b></td>
                    </tr>
                    {% for row in data %}
                        <tr>
                            <td>
                                {% if row.status == "Signed" %}
                                        <button class="btn btn-primary btn-circle btn-success"></button>
                                {% elif row.status == "Unknown" %}
                                        <button class="btn btn-primary btn-circle btn-danger"></button>
                                {% else %}
                                        <button class="btn btn-primary btn-circle btn-danger"></button>
                                {% endif %}
                            </td>
                            <td><input type="radio" name="device" value="{{ row.version }}"> {{ row.version }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
    <script>
        $("#delete").click(function() {
            var val = $('input[name=device]:checked').val();
            $.ajax({
            url: '/v1/version/' + val,
            type: 'DELETE',
            error:function(error){},
            success:function(data){},
            });
            location.reload();
        });
        $("#register").click(function() {
            var val = $('input[name=device]:checked').val();
            $.ajax({
            url: '/v1/version/' + val,
            type: 'POST',
            error:function(error){},
            success:function(data){},
            });
            location.reload();
        });
        function myFunction() {
            var x = document.getElementById("test");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

</body>
</html>

